<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<p>Введите данные для оплаты</p>
<form method="post" action="/app/Logic/action.php" id="update_form">
    <label for="number">CardNumber</label>
    <input id="number" type="number" minlength="16" size="16" name="card_number">
    <label for="card">Owner</label>
    <input id="card" type="text" name="card_holder">
    <label for="expiration">Expiration</label>
    <input id="expiration" type="month" name="card_expiration">
    <label for="cvv">CVV</label>
    <input id="cvv" type="number" maxlength="3" name="cvv">
    <label for="order">OrderNumber</label>
    <input id="order" type="number" maxlength="16" name="order_number">
    <label for="sum">Sum</label>
    <input id="sum" type="text" name="sum">
    <input type="submit" name="submitButton" value="Send"/>
</form>

</body>
</html>
